{% extends "template.html" %}

{% block ptitle %}Password Change : STDWeb{% endblock %}

{% block title %}{% endblock %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Changing your password</h2>

      <!-- {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
          {{ error }}
          </div>
        {% endfor %}
      {% endfor %}
      {% endif %} -->

      <form method="post" action="{% url 'password' %}" role="form" class="form">
        {% csrf_token %}

        {% for field in form %}
          <div class="form-group mb-3">
            <label for="{{ field.id }}">{{ field.label }}</label>
            <input type="password" name="{{ field.name }}" class="form-control" id="{{ field.id }}" placeholder="" required>

            {% if field.errors %}
              <span class="text-danger">{{ field.errors | first }}</span>
            {% else %}
              <span class="text">
                {{ field.help_text }}
              </span>
            {% endif %}
          </div>
        {% endfor %}

        <!-- {{ form.as_p }} -->
        <!-- <div class="form-group mb-3">
        <input type="text" name="{{ form.username.name }}" class="form-control" id="username" placeholder="Username" required autofocus>
        </div> -->
        <!-- <div class="form-group mb-3">
        <input type="password" name="{{ form.password.name }}" class="form-control" id="password" placeholder="Password" required>
        </div> -->
        <div class="form-group d-grid">
          <button type="submit" class="btn btn-primary">Change password</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>

{% endblock %}
