{% extends "template.html" %}

{% load filters %}
{% load crispy_forms_tags %}

{% block head %}
  <script language="javascript">
   check_menu_visibility = function() {
     var hidden = true;
     var menu = $('#actions_menu');
     var count = 0;

     $('input[name="local_files"]').each(function() {
       if ($(this).prop('checked')) {
         hidden = false;
         count += 1;
       }
     });

     $('input[name="local_filename"]').prop('value', count + ' file(s) selected for processing')

     if (hidden)
       menu.hide();
     else
       menu.show();
   }

   // Toggle visibility of the menu depending on whether something is selected
   $(function(){
     $('input[name="local_files"]').on('change', check_menu_visibility);
     check_menu_visibility();
   });
  </script>
{% endblock %}

{% block ptitle %}{% if path %}{{ path }}{% else %}Files{% endif %} : STDWeb{% endblock %}

{% block title %}File browser{% endblock %}

{% block content %}

  {% if breadcrumb %}
    <!-- Display breadcrumb with clickable path elements -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for bread in breadcrumb %}
          <li class="breadcrumb-item">
            {% if bread.path %}
              <a href="{% url 'files' path=bread.path %}">{{ bread.name }}</a>
            {% else %}
              {{ bread.name }}
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </nav>
  {% endif %}

  {% if mode == 'list' %}
    <!-- Display directory listing -->

    {% if not files %}
      Nothing to list
    {% else %}
      <!-- <p>
      {{ files|length }} entries
      </p> -->

      <form method='POST' action="{% url 'upload' %}">

      <div class="list-group mb-4">
        {% for file in files %}
          <div class="list-group-item">
            {% if file.type == 'fits' %}
              <input class="form-check-input" type="checkbox" name="local_files" value="{{ file.path }}">
            {% else %}
              <span class="w-1 d-inline-block"></span>
            {% endif %}

            <i class="ms-2 me-2 fa fa-{% if file.type == 'dir' %}folder-open-o{% elif file.type == 'up' %}level-up{% elif file.type == 'text' %}file-text-o{% elif file.type == 'file' %}file-o{% else %}file-image-o{% endif %}"></i>

            <a href='{% url 'files' path=file.path %}' class="text-decoration-none link-dark">
              {{ file.name }}
            </a>

            {% if file.type != 'dir' and file.type != 'up' %}
              <span class="pull-right">{{ file.size|naturalsize }}</span>
            {% endif %}
          </div>

        {% endfor %}
      </div>

      <div id='actions_menu'>
        <hr/>
        <h3>Process selected files</h3>
        {% crispy form %}
      </div>

      </form>

    {% endif %}

  {% else %}
    <!-- Display single file - starts with some metadata -->
    <ul>
      <li>Path: <b><a href="{% url 'download' path=path %}"><i class="fa fa-download"></i> {{ path }}</a></b></li>
      <li>Size: <b>{{ stat.st_size }}</b> bytes / {{ stat.st_size|naturalsize }}</li>
      <li>Last modified: <b>{{ time.iso }}</b></li>
      <li><b>{{ mime }}</b> : {{ magic_info }}</li>
    </ul>

    {% if mode == 'text' %}
      <!-- Display text file contents -->

      <div class="card mb-2">
        <div class="card-body pr-2 pl-2 pt-2 pb-2">
          <pre><code>{{ contents }}</code></pre>
        </div>
      </div>

    {% elif mode == 'image' %}
      <!-- Display image inline -->

      <div class="text-center mb-2">
        <img src="{% url 'view' path=path %}" class="img-fluid img-thumbnail" alt="{{ path }}"/>
      </div>

    {% elif mode == 'fits' %}
      <!-- Display FITS inline -->

      <div class="mb-4">
        <!-- File upload form -->
        <form method='POST' action="{% url 'upload' %}">

          {% crispy form %}

          {% for hdu in fitsfile %}
            <div class="mt-4">
              <!-- Full FITS header -->
              <div class="card mb-2">
                <h5 class="card-header pt-2 pb-2 collapse-chevron collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapseHeader{{ forloop.counter0 }}"
                    aria-expanded="false"
                    aria-controls="collapseHeader{{ forloop.counter0 }}">
                  {{ hdu.name }}
                  <span class="float-right"><i class="fa fa-list"></i> </span>
                </h5>

                <div class="collapse {% if hdu.data is none %}show{% endif %}" id="collapseHeader{{ forloop.counter0 }}">
                  <div class="card-body pr-2 pl-2 pt-2 pb-2">
                    <pre>{{ hdu.header | header_to_string }}</pre>
                  </div>
                </div>
              </div>

              {% if hdu.data is not none %}
                {% if fitsfile|length > 1 %}
                  <button class="btn btn-warning mt-2 mb-2" type="submit" name="ext" value="{{ forloop.counter0 }}">Process this extension</button>
                {% endif %}
                <div class="text-center">
                  <img src="{% url 'preview' path=path %}?ext={{ forloop.counter0 }}"
                       class="img-fluid img-thumbnail stdview-image"
                       data-stretch
                       data-grid
                       data-zoom
                       alt="{{ path }}"/>
                </div>
              {% endif %}

            </div>
          {% endfor %}

        </form>
      </div>

    {% elif mode == 'cutout' %}

      {% include 'block_cutout.html' with path=path cutout=cutout fitsfile=fitsfile only %}

    {% else %}
      <p>
        Cannot preview file
      </p>
    {% endif %}

  {% endif %}

{% endblock %}
