{% extends "template.html" %}

{% load crispy_forms_tags %}
{% load filters %}

{% block title %}Simple Transient Detection for the Web{% endblock %}

{% block content %}

  <p>
    This is a simple web-based tool for a quick-look photometry and transient detection in astronomical images. It is based on <a href="https://github.com/karpov-sv/stdpipe">STDPipe</a> library and tries to implement a self-consistent and mostly automatic data analysis workflow from its routines.
  </p>

  <!--
  <p>
    It currently allows you to:
    <ul>
      <li>Upload your own FITS files, or analyze some files already on the server</li>
      <li>Do basic pre-processing and masking</li>
      <li>Detect objects in the image and do astrometric calibration, either by blind mathcing or refining existing solution</li>
      <li>Photometrically calibrate the image using one of supported reference catalogues</li>
      <li>Subtract either user-provided or automatically downloaded template images</li>
      <li>Do forced photometry for a specified target in either original or difference image</li>
      <li>Do (experimental) transient detection in difference image</li>
    </ul>
  </p>
  -->

  <p>
    STDWeb is being developed by Sergey Karpov, and was originally created as part of <a href="https://grandma.ijclab.in2p3.fr">GRANDMA</a> project.
  </p>

  <p>
    If you use STDWeb in your work, or use results from STDWeb in a publication, please cite <br>
    <p style="padding: 0 1rem 0 1rem; border-width: 0 0 0 5px; border-style: solid; border-color: gray">
        Karpov, S. (2025). <b>STDweb: simple transient detection pipeline for the web</b>. <i>Acta Polytechnica</i>, 65(1), 50-64. <br>
        <a href="https://doi.org/10.14311/AP.2025.65.0050">https://doi.org/10.14311/AP.2025.65.0050</a>
    </p>

  </p>

  <p>
    If you want to better understand the routines used for it, please consult STDPipe <a href="https://stdpipe.readthedocs.io/">documentation</a> and <a href="https://github.com/karpov-sv/stdpipe/tree/master/notebooks">example notebooks</a>, as well as the <a href="https://github.com/karpov-sv/stdweb">actual source code</a> behind this web tool.
  </p>

  <hr>
  <h3>
    Image upload
    {% if user.is_authenticated %}
      <!-- Help popover -->
      <span class="span-help-popover float-end" title="Upload new FITS file">
        <p>
          You may upload new FITS image here. Upon uploading, you will be redirected to the dedicated task page for this image, where you may analyze it.
        </p>
        <p>
          You may set a free-form title or comment for the image. Also, you may select some configuration preset that will pre-fill some processing parameters. Moreover, you may directly specify the target name or coordinates, and initiate automatic execution of some of processing steps by using the checkboxes below the form.
        </p>
      </span>
    {% endif %}
  </h3>

  {% if user.is_authenticated %}

    <!-- File upload form -->
    {% crispy form %}

  {% else %}

    Please <a href="{% url 'login' %}">log in</a> to be able to upload files.

  {% endif %}

{% endblock %}
