{% extends "template.html" %}

{% load crispy_forms_tags %}
{% load filters %}

{% block title %}Simple Transient Detection for the Web{% endblock %}

{% block content %}

  <p>
    This is a simple web-based tool for a quick-look photometry and transient detection in astronomical images. It is based on <a href="https://github.com/karpov-sv/stdpipe">STDPipe</a> library and tries to implement a self-consistent and mostly automatic data analysis workflow from its routines.
  </p>

  <p>
    It currently allows you to:
    <ul>
      <li>Upload your own FITS files, or analyze some files already on the server</li>
      <li>Do basic pre-processing and masking</li>
      <li>Detect objects in the image and do astrometric calibration, either by blind mathcing or refining existing solution</li>
      <li>Photometrically calibrate the image using one of supported reference catalogues</li>
      <li>Subtract either user-provided or automatically downloaded template images</li>
      <li>Do forced photometry for a specified target in either original or difference image</li>
      <li>Do (experimental) transient detection in difference image</li>
    </ul>
  </p>

  <p>
    If you want to better understand the routines used for it, please consult STDPipe <a href="https://stdpipe.readthedocs.io/">documentation</a> and <a href="https://github.com/karpov-sv/stdpipe/tree/master/notebooks">example notebooks</a>, as well as the <a href="https://github.com/karpov-sv/stdweb">actual source code</a> behind this website.
  </p>

  <h3>
    Image upload
    <!-- Help popover -->
    <span class="span-help-popover float-end" title="Upload new FITS file">
      <p>
        You may upload new FITS image here. Upon uploading, you will be redirected to the dedicated task page for this image, where you may analyze it.
      </p>
    </span>
  </h3>

  {% if user.is_authenticated %}

    <!-- File upload form -->
    <form class="mb-4" enctype="multipart/form-data" method="POST" action="{% url 'upload' %}">
      {% csrf_token %}
      <input type="hidden" name="type" value="image"/>
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>

  {% else %}

    Please <a href="{% url 'login' %}">log in</a> to be able to upload files.

  {% endif %}

{% endblock %}
