<!-- Bootbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js" integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script language="javascript">

 popupImage = function(event, url, title, ok, extraClass, extraKwargs, extraImages)
 {
   // Fix for Safari CMD-click handled by onclick()
   if(event.metaKey)
     return true;

   extraClass = extraClass || "";
   extraKwargs = extraKwargs || {};
   extraImages = extraImages || [];

   var body = $("<div/>", {class: "text-center"});

   // Build list of all image URLs
   var allUrls = [url].concat(extraImages);

   // Extract base URLs (without parameters) for blinking
   var baseUrls = allUrls.map(function(u) {
     return u.split('?')[0];
   });

   // Extract image names from URLs
   var allNames = allUrls.map(function(u) {
     var path = u.split('?')[0];
     return path.split('/').pop();
   });
   var baseTitle = title;
   var currentIndex = 0;

   // Create only ONE image (with the first URL including any initial parameters)
   var params = {
     class: "img-fluid center-block popup-blink-image " + extraClass,
     src: allUrls[0]
   };

   if(extraKwargs){
     params = Object.assign({}, params, extraKwargs);
   }

   var img = $("<img/>", params);
   img.appendTo(body);

   // Navigation helper
   function showImage(index) {
     var img = dialog.find('.popup-blink-image');
     var currentSrc = img.attr('src');

     // Extract current URL parameters
     var currentParams = currentSrc.split('?')[1] || '';

     // Build new URL with new base + current parameters
     var newSrc = baseUrls[index];
     if(currentParams) {
       newSrc = newSrc + '?' + currentParams;
     }

     // Update image src (overlay controls remain bound to same element)
     img.attr('src', newSrc);

     currentIndex = index;

     // Update title
     if(allUrls.length > 1) {
       dialog.find('.modal-title').text(allNames[index]);
     }
   }

   var dialogParams = {
     title: allUrls.length > 1 ? allNames[0] : title,
     message: body,
     size: 'xl',
     onEscape: function() {},
   };

   // Build buttons
   var buttons = {};

   // Add Prev/Next buttons if there are extra images
   if(extraImages.length > 0) {
     buttons.prev = {
       label: "◁ Prev",
       className: "btn-info btn-prev ms-1 me-1",
       callback: function() {
         var newIndex = (currentIndex - 1 + allUrls.length) % allUrls.length;
         showImage(newIndex);
         return false;
       }
     };
     buttons.next = {
       label: "Next ▷",
       className: "btn-info btn-next ms-1 me-auto",
       callback: function() {
         var newIndex = (currentIndex + 1) % allUrls.length;
         showImage(newIndex);
         return false;
       }
     };
   }

   if(ok){
     buttons.success = {
       label: "Ok",
       className: "btn-primary",
       callback: function() {}
     };
   }

   if(Object.keys(buttons).length > 0) {
     dialogParams.buttons = buttons;
   }

   dialog = bootbox.dialog(dialogParams);
   dialog.find('.modal-dialog').addClass('modal-fullscreen-xl-down');

   // FIXME: prevent updating already created overlays?..
   overlay_stdview_images();

   return false;
 }

</script>
