<!-- Bootbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js" integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script language="javascript">

 popupImage = function(event, url, title, ok, extraClass, extraKwargs)
 {
   // Fix for Safari CMD-click handled by onclick()
   if(event.metaKey)
     return true;

   extraClass = extraClass || "";
   extraKwargs = extraKwargs || {};

   var body = $("<div/>", {class: "text-center"});
   var params = {class:"img-fluid center-block " + extraClass, src:url};

   if(extraKwargs){
     params = Object.assign({}, params, extraKwargs);
   }

   // FIXME: data-stretch is only needed for class stdview-image
   $("<img/>", params).appendTo(body);

   params = {
     title: title,
     message: body,
     size: 'xl',
     onEscape: function() {},
   };

   if(ok){
     params.buttons = {
       success: {
         label: "Ok",
         className: "btn-primary",
         callback: function() {}
       }
     };
   }

   dialog = bootbox.dialog(params);
   dialog.find('.modal-dialog').addClass('modal-fullscreen-xl-down');

   // FIXME: prevent updating already created overlays?..
   overlay_stdview_images();

   return false;
 }

</script>
