{% extends "template.html" %}

{% load filters %}
{% load crispy_forms_tags %}

{% block ptitle %}SkyPortal Upload : STDWeb{% endblock %}

{% block title %}Upload to SkyPortal{% endblock %}

{% block content %}

  <div>

    <form action="{% url 'skyportal' %}" method="POST" class="mb-2">
      {% csrf_token %}

      {% crispy form %}

      {% if tasks %}
        <ul>
          {% for task in tasks %}
            <li>
              Task <a href="{% url 'tasks' task.id %}" target="_blank">{{ task.id }}</a> - {{ task.name }}
              <br>
              {% if task.error %}
                Error: <span class="text-danger">{{ task.error }}
              {% else %}
                SkyPortal source: <a href="https://skyportal-icare.ijclab.in2p3.fr/source/{{ task.sid }}" target="_blank">{{ task.sid }}</a>
                <br>
                MJD <b>{{ task.mjd|floatformat:6 }}</b>
                Filter <b>{{ task.filter }}</b> (<b>{{ task.magsys }}</b>)
                {% if task.mag %}
                  Mag <b>{{ task.mag|floatformat:2 }}</b> +/- <b>{{ task.magerr|floatformat:2 }}</b>
                {% endif %}
                Limit <b>{{ task.limit|floatformat:2 }}</b>
                {% if action == 'upload' %}
                  <br>
                  {% if task.status == 'success' %}
                    <span class="text-success">Successfully uploaded to SkyPortal</span>
                  {% else %}
                    <span class="text-danger">{{ task.status }}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>

        {% if action != 'upload' %}
          <button type="submit" name="action" value="upload" class="btn btn-danger"
                  title="Upload measurements to SkyPortal">Upload</button>
        {% endif %}

      {% else %}
      {% endif %}

    </form>

  </div>

{% endblock %}
