{% extends "template.html" %}

{% load el_pagination_tags %}
{% load filters %}

{% block ptitle %}Tasks : STDWeb{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}

  {% if tasks %}

    {% paginate 10 tasks %}

    <div class="list-group mb-2">
        {% for task in tasks %}
          <a href="{% url 'tasks' id=task.id %}" class="text-decoration-none list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-1 me-2">
                {{ task.id }}
              </div>
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ task.original_name }}</div>

                {% if task.title %}
                  <div class="fst-italic">{{ task.title }}</div>
                {% endif %}

                <small class="me-2 badge bg-info">{{ task.user|user }}</small>
                <small class="me-2">Created: <span class="fst-italic">{{ task.created|timestamp }}</span></small>
                <small class="me-2">Modified: <span class="fst-italic">{{ task.modified|timestamp }}</span></small>
              </div>
              <span class="badge bg-primary rounded-pill">{{ task.state }}</span>
          </a>
        {% endfor %}
    </div>

    {% show_pages %}

  {% else %}
    No tasks submitted
  {% endif %}

{% endblock %}
