{% extends "template.html" %}

{% load tags %}
{% load filters %}
{% load wrapwith %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block head %}
  {% include "popup_image.html" %}

  <script language="javascript">
   {% if task.celery_id %}

   var update_timer = 0;
   var update_timeout = 3000;

   update = function(){
     $.ajax({
       url: "{% url 'queue_state' task.celery_id %}",
       dataType: "json",
       timeout: 3000,

       success: function(json){
         $('#celery_state').html(json.state);
         if(json.state == 'SUCCESS' || json.state == 'FAILURE' || json.state == 'REVOKED'){
           location.reload();
         }
       },

       complete: function(xhr, status) {
         setTimeout(update, update_timeout);
       }
     });
   }

   $(function(){
     setTimeout(update, update_timeout);
   });

   {% endif %}

   check_blindmatch_visibility = function(){
     var checked = $('#id_blind_match_wcs').prop('checked');

     for(var name of ['blind_match_ps_lo', 'blind_match_ps_up', 'blind_match_ra0', 'blind_match_dec0', 'blind_match_sr0']){
       var elem = $('#div_id_' + name);
       if(checked && elem.is(':hidden')){
         elem.show();
       } else if(!checked && elem.is(':visible')){
         elem.hide();
       }
     }
   }

   // Toggle visibility of blind match options depending on the checkbox
   $(function(){
     $('#id_blind_match_wcs').on('change', check_blindmatch_visibility);
     check_blindmatch_visibility();
   });

   // Disable submitting the form on image cropping text fields
   $(function(){
     for(var id of ['crop_x1', 'crop_y1', 'crop_x2', 'crop_y2']){
       $('#' + id).on('keypress keydown keyup', function (e) {
         if (e.keyCode == 13) {
           e.preventDefault();
         }
       });
     }
   });

   check_custom_template_visibility = function(){
     var selected = $('#id_template').find(":selected").val();
     var row = $('#custom_row');

     if (selected == 'custom' && row.is(':hidden')){
       row.show();
     } else if (selected != 'custom' && row.is(':visible')){
       row.hide();
     }
   }

   // Toggle visibility of custom template options depending on the checkbox
   $(function(){
     $('#id_template').on('change', check_custom_template_visibility);
     check_custom_template_visibility();

     // Also change the label if template is already uploaded
     if ({% if 'custom_template.fits' in files %}true{% else %}false{% endif %}){
       $('#div_id_custom_template label').text('Replace uploaded custom template file');
       $('#div_id_custom_template label').addClass('text-success');
     }
   });

  </script>

{% endblock %}

{% block ptitle %}
  {% if task.celery_id %}(Running){% endif %}
  Task {{ task.id }} : STDWeb
{% endblock %}

{% block title_div %}{% endblock %}

{% block content %}

  {% if not task %}
    <p>Task not found</p>
  {% else %}

    <h2>
      {{ task.original_name }}
    </h2>

    {% if task.title %}
    <p class="fst-italic">
      {{ task.title }}
    </p>
    {% endif %}
    <p>
      Task {{ task.id }} created by <span class="text-primary fw-bold">{{ task.user|user }}</span> on {{ task.created|timestamp }} - {{ task.created|naturaltime }}
      {% if not user_may_submit %}
        <br>
        <span class="text-danger fw-bold">Task is read-only</span>
      {% endif %}
      <br>
      State:
      {% if task.celery_id %}
      <span class="spinner-border spinner-border-sm text-primary" role="status"></span>
      {% endif %}
      <b class="text-{% if task.state == 'failed' %}danger{% elif task.celery_id %}primary{% else %}success{% endif %}">{{ task.state }}</b> on {{ task.modified|timestamp }} - {{ task.modified|naturaltime }}
      {% if task.celery_id %}
        <br>
        Queue task:
        <a href="{% url 'queue' id=task.celery_id %}">{{ task.celery_id }}</a>
        (<span id="celery_state"></span>)
        {% if user_may_submit and False %}
          <form action="{% url 'queue' id=task.celery_id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="action" value="terminatetask" class="btn btn-danger">Terminate</button>
          </form>
        {% endif %}
      {% endif %}
    </p>

    <!-- Header -->
    {% if 'image.fits' in files %}
      {% wrapwith 'wrapper_card_collapsed.html' with title='Original FITS header' %}
      <pre><code>{% task_fits_header task 'image.fits' %}</code></pre>
      {% endwrapwith %}
    {% endif %}

    <hr>
    <h3>Initial inspection and masking</h3>

    {% if user_may_submit %}
      <form action="" method="POST" class="mb-2">
        {% csrf_token %}
        <fieldset class="small" {% if task.celery_id %}disabled{% endif %}>
          {% crispy form_inspect %}

          <button type="submit" name="action" value="inspect_image" class="btn btn-primary">Run initial inspection</button>

          <button type="submit" name="action" value="cleanup_task" class="btn btn-danger"
                  title="Delete all processing results and configurations">Cleanup</button>

          <!-- Unsafe controls -->
          <button class="btn btn-light collapse-chevron-horizontal collapsed ms-4 me-4" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#unsafeButtons"
                  aria-expanded="false"
                  aria-controls="unsafeButtons"
                  title="Show / hide unsafe controls">
          </button>

          <span id="unsafeButtons" class="collapse collapse-horizontal collapsed">
            <button type="submit" name="action" value="fix_image" class="btn btn-warning {% if 'image.wcs' not in files %}disabled{% endif %}"
                    title="Update the image header with refined WCS">Fix header</button>

            <!-- Crop control hide/show -->
            <button type="button" class="btn btn-light collapse-chevron collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#cropControls"
                    aria-expanded="false"
                    aria-controls="cropControls"
                    title="Crop the image">Crop&nbsp;</button>

            <button type="submit" name="action" value="delete_task" class="btn btn-danger"
                    title="Permanently delete this task">Delete task</button>
          </span>

          <!-- Crop controls -->
          <div id="cropControls" class="collapse collapsed">
            <div class="row align-items-end">
              <div class="col">
                <label for="crop_x1" class="form-label">Min X</label>
                <input type="number" class="form-control" name="crop_x1" id="crop_x1"
                       title="Use negative values for offsets from the right"/>
              </div>
              <div class="col">
                <label for="crop_x1" class="form-label">Min Y</label>
                <input type="number" class="form-control" name="crop_y1" id="crop_y1"
                       title="Use negative values for offsets from the top"/>
              </div>
              <div class="col">
                <label for="crop_x2" class="form-label">Max X</label>
                <input type="number" class="form-control" name="crop_x2" id="crop_x2"
                       title="Use negative values for offsets from the right"/>
              </div>
              <div class="col">
                <label for="crop_x2" class="form-label">Max Y</label>
                <input type="number" class="form-control" name="crop_y2" id="crop_y2"
                       title="Use negative values for offsets from the top"/>
              </div>
              <div class="col">
                <button type="submit" name="action" value="crop_image" class="btn btn-warning"
                        title="Crop the image">Crop!</button>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    {% endif %}

    <!-- Initial inspection -->
    <hr style="border-style: dotted">
    <div class="row mb-2">
      {% if 'inspect.log' in files %}
        <div class="col">
          {% include "task_block_text.html" with file='inspect.log' %}
        </div>
      {% endif %}

          <div class="col">
            <div class="row">
              {% make_list 'image.fits' 'mask.fits' 'image_target.fits' 'custom_template.fits' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "task_block_image.html" with fits=name task=task only %}
                  </div>
                {% endif %}
              {% endfor %}

              {% make_list 'image_bg.png' 'image_rms.png' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "task_block_image.html" with image=name task=task only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

    </div>

    <!-- Photometry and astrometry -->
    {% if 'inspect.log' in files and 'mask.fits' in files %}
      <hr>
      <h3>Photometry and astrometry</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2">
          {% csrf_token %}
          <fieldset class="small" {% if task.celery_id %}disabled{% endif %}>

            {% crispy form_photometry %}

            <button type="submit" name="action" value="photometry_image" class="btn btn-primary">Run photometry</button>
          </fieldset>
        </form>
      {% endif %}

      <hr style="border-style: dotted">
      <div class="row mb-2">
        {% if 'photometry.log' in files %}
          <div class="col">
            {% include "task_block_text.html" with file='photometry.log' %}
          </div>

          <div class="col">
            <div class="row">
              {% make_list 'objects.png' 'fwhm.png' 'photometry.png' 'photometry_unmasked.png' 'photometry_zeropoint.png' 'photometry_model.png' 'photometry_residuals.png' 'astrometry_dist.png' 'limit_hist.png'  'limit_sn.png' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "task_block_image.html" with image=name task=task only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>

    {% endif %}

    <!-- Target cutout -->
    {% if 'target.cutout' in files %}
      <hr>
      <h3>Target on direct image</h3>

      <div class="text-center">
        {% include "task_block_image.html" with cutout='target.cutout' task=task ra=task.config.target_ra dec=task.config.target_dec only %}
      </div>

    {% endif %}

    <!-- Image subtraction -->
    {% if 'photometry.pickle' in files %}
      <hr>
      <h3>Template subtraction</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="small" {% if task.celery_id %}disabled{% endif %}>

            {% crispy form_subtraction %}

            <button type="submit" name="action" value="subtract_image" class="btn btn-primary">Run subtraction</button>
          </fieldset>
        </form>
      {% endif %}

      <hr style="border-style: dotted">
      <div class="row mb-2">
        {% if 'subtraction.log' in files %}
          <div class="col">
            {% include "task_block_text.html" with file='subtraction.log' %}
          </div>

          <div class="col">
            <div class="row">
              {% make_list 'sub_image.fits' 'sub_mask.fits' 'sub_template.fits' 'sub_template_mask.fits' 'sub_conv.fits' 'sub_diff.fits' 'sub_sdiff.fits' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "task_block_image.html" with fits=name task=task only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>

    {% endif %}

    <!-- Target cutout -->
    {% if 'sub_target.cutout' in files %}
      <hr>
      <h3>Target on difference (template-subtracted) image</h3>

      <div class="text-center">
        {% include "task_block_image.html" with cutout='sub_target.cutout' task=task ra=task.config.target_ra dec=task.config.target_dec only %}
      </div>

    {% endif %}

    <!-- Transient candidates -->
    {% if candidates %}
      <hr>
      <h3>Transient candidates on difference (template-subtracted) image</h3>

      {% for cand in candidates %}
        <div class="text-center">
          {% include "task_block_image.html" with cutout=cand.cutout_name task=task ra=cand.ra dec=cand.dec only %}
        </div>
      {% endfor %}

    {% endif %}



  {% endif %}

{% endblock %}
