{% extends "template.html" %}

{% load tags %}
{% load filters %}
{% load wrapwith %}
{% load crispy_forms_tags %}

{% block head %}
  {% include "popup_image.html" %}

  <script language="javascript">
   {% if task.celery_id %}

   var update_timer = 0;
   var update_timeout = 3000;

   update = function(){
     $.ajax({
       url: "{% url 'queue_state' task.celery_id %}",
       dataType: "json",
       timeout: 3000,

       success: function(json){
         $('#celery_state').html(json.state);
         if(json.state == 'SUCCESS' || json.state == 'FAILURE' || json.state == 'REVOKED'){
           location.reload();
         }
       },

       complete: function(xhr, status) {
         setTimeout(update, update_timeout);
       }
     });
   }

   $(function(){
     setTimeout(update, update_timeout);
   });

   {% endif %}

   check_blindmatch_visibility = function(){
     var checked = $('#id_blind_match_wcs').prop('checked');

     for(var name of ['blind_match_ps_lo', 'blind_match_ps_up', 'blind_match_ra0', 'blind_match_dec0', 'blind_match_sr0']){
       var elem = $('#div_id_' + name);
       if(checked && elem.is(':hidden')){
         elem.show();
       } else if(!checked && elem.is(':visible')){
         elem.hide();
       }
     }
   }

   $(function(){
     $('#id_blind_match_wcs').on('change', check_blindmatch_visibility);
     check_blindmatch_visibility();
   });

  </script>

{% endblock %}

{% block ptitle %}
  {% if task.celery_id %}(Running){% endif %}
  Task {{ task.id }} : STDWeb
{% endblock %}

{% block title_div %}{% endblock %}

{% block content %}

  {% if not task %}
    <p>Task not found</p>
  {% else %}

    <h2>
      {{ task.original_name }}
    </h2>

    {% if task.title %}
    <p class="fst-italic">
      {{ task.title }}
    </p>
    {% endif %}
    <p>
      Task {{ task.id }} created by {{ task.user|user }} on {{ task.created|timestamp }}
      <br>
      State:
      {% if task.celery_id %}
      <span class="spinner-border spinner-border-sm text-primary" role="status"></span>
      {% endif %}
      <b class="text-{% if task.state == 'failed' %}danger{% elif task.celery_id %}primary{% else %}success{% endif %}">{{ task.state }}</b> on {{ task.modified|timestamp }}
      {% if task.celery_id %}
        <br>
        Queue task:
        <a href="{% url 'queue' id=task.celery_id %}">{{ task.celery_id }}</a>
        (<span id="celery_state"></span>)
      {% endif %}
    </p>

    <!-- Header -->
    {% if 'image.fits' in files %}
      {% wrapwith 'wrapper_card_collapsed.html' with title='Original FITS header' %}
      <pre><code>{% task_fits_header task 'image.fits' %}</code></pre>
      {% endwrapwith %}
    {% endif %}

    <hr>
    <h3>Initial inspection and masking</h3>

    {% if user.is_authenticated %}
      <form action="" method="POST" class="mb-2">
        {% csrf_token %}
        <fieldset {% if task.celery_id %}disabled{% endif %}>

          {% crispy form_inspect %}

          <button type="submit" name="action" value="inspect_image" class="btn btn-primary">Run initial inspection</button>
          <button type="submit" name="action" value="cleanup_task" class="btn btn-danger"
                  title="Delete all processing results and configurations">Cleanup</button>

          <!-- Unsafe controls -->
          <button class="btn btn-light collapse-chevron-horizontal collapsed ms-4 me-4" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#unsafeButtons"
                  aria-expanded="false"
                  aria-controls="unsafeButtons"
                  title="Show / hide unsafe controls">
          </button>

          <span id="unsafeButtons" class="collapse collapse-horizontal collapsed">
            <button type="submit" name="action" value="delete_task" class="btn btn-danger">Delete task</button>
          </span>

        </fieldset>
      </form>
    {% endif %}

    <!-- Initial inspection -->
    <hr style="border-style: dotted">
    <div class="row mb-2">
      {% if 'inspect.log' in files %}
        <div class="col">
          {% include "task_block_text.html" with file='inspect.log' %}
        </div>
      {% endif %}

          <div class="col">
            <div class="row">
              {% make_list 'image.fits' 'mask.fits' 'image_target.fits' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "task_block_image.html" with fits=name task=task only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

    </div>

    <!-- Photometry and astrometry -->
    {% if 'inspect.log' in files and 'mask.fits' in files %}
      <hr>
      <h3>Photometry and astrometry</h3>

      {% if user.is_authenticated %}
        <form action="" method="POST" class="mb-2">
          {% csrf_token %}
          <fieldset {% if task.celery_id %}disabled{% endif %}>

            {% crispy form_photometry %}

            <button type="submit" name="action" value="photometry_image" class="btn btn-primary">Run photometry</button>
          </fieldset>
        </form>
      {% endif %}

      <hr style="border-style: dotted">
      <div class="row mb-2">
        {% if 'photometry.log' in files %}
          <div class="col">
            {% include "task_block_text.html" with file='photometry.log' %}
          </div>

          <div class="col">
            <div class="row">
              {% make_list 'objects.png' 'fwhm.png' 'photometry.png' 'photometry_unmasked.png' 'photometry_zeropoint.png' 'photometry_model.png' 'photometry_residuals.png' 'astrometry_dist.png'  as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "task_block_image.html" with image=name task=task only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>

    {% endif %}

  {% endif %}

{% endblock %}
